* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2B2B2B !important;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: worksans;
    src: url(assets/fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: spacemono;
    src: url(assets/fonts/SpaceMono-Regular.ttf);
}

@media screen and (max-width: 767px) {

    header {
        padding: 2px 18px !important;
    }

    .navbar-toggler {
        border: none !important;
        outline: none !important;
    }

    .header_svg_2 {
        margin-top: 4px;
    }

    .navbar-brand {
        margin-right: 0 !important;
    }

    .svg_1 {
        height: 24px !important;
        width: 24px !important;
        margin-right: 9px !important;
    }

    .header_svg_2 {
        width: 149px !important;
        height: 15px !important;
    }

    .navbar_button {
        width: 100% !important;
        margin: 0 !important;
    }

    .container_1 {
        padding: 40px 30px !important;
    }

    .h1_1 {
        font-size: 28px !important;
        line-height: 140% !important; /* 39.2px */
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .text_1, .text_4 {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
        text-transform: none !important;
    }

    .text_1 {
        margin-bottom: 40px !important;
    }

    .row_dn {
        display: none !important;
    }

    .d_db {
        display: block !important;
        margin-top: 40px !important;
    }

    .button_2 {
        margin: 0 !important;
    }

    .img_0 {
        height: 315px !important;
    }

    .h4_1 {
        font-size: 22px !important;
        line-height: 160% !important; /* 35.2px */
    }

    .text_2 {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
    }

    .m40 {
        margin-top: 40px !important;
    }

    .mr6 {
        margin-right: 6px !important;
    }

    .h3_1 {
        font-size: 28px !important;
        line-height: 140% !important; /* 39.2px */ 
    }

    .mdn {
        display: none !important;
    }

    .text_5 {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
    }

    .purple_div, .mini_img {
        height: 95px !important;
    }

    .purple_div {
        width: 95px !important;
        margin-right: 0 !important;
    }

    .mc0 {
        padding: 0 !important;
    }

    .primary_img {
        height: 315px !important;
    }

    .mp0 {
        padding: 0 !important;
        padding-right: 0 !important;
    }

    .pme_0 {
        padding-right: 0 !important;
    }

    .pms_0 {
        padding-left: 0 !important;
    }

    .card_number {
        left: 12px !important;
        top: 13px !important;
    }

    .htext_1, .card_text_1 {
        text-align: start !important;
        padding-left: 2px !important;
    }

    .card_text_2 {
        margin-left: 0 !important;
    }

    .col_m20 {
        margin-top: 20px !important;
    }

    .col_m40 {
        margin-top: 40px !important;
    }

    .h5_3 {
        font-size: 16px !important;
    }

    .mobile_mt {
        margin-top: 20px !important;
    }

    .mobile_col_1 {
        padding-right: 10px !important;
    }

    .mobile_col_2 {
        padding-left: 10px !important;
    }

    .card_body_custom {
        padding: 20px 20px 25px 20px !important;
        height: 67px !important;
    }

    .mobile_dn {
        display: none !important;
    }

    .mobile_db {
        display: block !important;
    }

    .row_m50 {
        padding-top: 30px !important;
    }

    .row_p30 {
        padding-top: 20px !important;
    }

    .mobile_m10 {
        margin-top: 10px !important;
    }

    .text_1 {
        width: 100% !important;
    }

    .card_img_top {
        height: 262px !important;
    }
    
    .card_body_custom_89 {
        height: 89px !important;
    }

    .custom_height_mobile {
        height: 142px !important;
    }

    .card_body_custom_2 {
        height: 164px !important;
        padding: 20px 20px 25px 20px !important;
    }

    .card_text_5, .card_text_7 {
        font-size: 12px !important;
        line-height: 110%; /* 13.2px */
    }

    .mobile_mt_20 {
        margin-top: 20px !important;
    }

    .row_p60 {
        padding-top: 40px !important;
    }

    .mobile_mb_20 {
        margin-bottom: 20px;
    }

    .outer-container {
        background-image: url(assets/img/NFT_Highlight_Mobile.png) !important;
        height: 593px !important;
        width: 375px !important;
        padding-bottom: 30px !important;
    }

    .container_2 {
        padding: 0 30px !important;
    }

    .auction_timer {
        width: 100% !important;
    }

    .auction_col {
        margin-top: 30px !important;
    }

    .row_m40 {
        margin-top: 40px !important;
    }

    .container_4 {
        padding: 40px 30px !important;
    }

    .custom_container_4 {
        padding: 0 !important;
        background: none !important;
        width: 100% !important;
    }

    .reading_news {
        height: 255px !important;
        width: 100% !important;
    }

    .row_p20 {
        padding-top: 30px !important;
    }

    .h3_4 {
        font-size: 28px !important;
        line-height: 140% !important; /* 39.2px */
    }

    .ptext_4 {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
    }

    .row_m30_custom {
        padding-top: 20px !important;
    }

    .row_m25_custom {
        padding-top: 20px !important;
    }

    .mobile_email_input_1 {
        height: 46px !important;
        border-radius: 20px;
        border: 1px solid var(--caption-label-text, #858584);
        background: var(--text, #FFF);
        outline: none;  
        padding-left:  20px; 
    }

    .mobile_email_input_1::placeholder {
        color: var(--background, #2B2B2B) !important;

        /* Base(Body) - Work Sans */
        font-family: worksans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */ 
    }

    .mobile_submit_button_1 {
        height: 46px;
        border-radius: 20px;
        background: var(--call-to-action, #A259FF);
        border: none;
        outline: none; 
        color: #FFF;
        text-align: center;
        font-family: worksans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */   
    }

    .mobile_svg_6 {
        top: 13px;
        left: 84px;
    }

    .mobile_mt_30 {
        margin-top: 30px !important;
    }

    .container_3 {
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-top: 40px !important;    
    }

    footer {
        padding: 40px 18px !important;
    }

    .footer_container {
        padding: 0 !important;
    }

    .create_account_div, 
    .collect_wallet_div {
        padding: 30px 18px 40px 30px !important;
    }

    .ca_h2 {
        font-size: 38px !important;
        line-height: 120% !important; /* 45.6px */
    }

    .ca_text {
        font-size: 16px !important;
        line-height: 140%; /* 22.4px */
        text-transform: none !important;
    }

    .create_account_form {
        margin-top: 30px !important;
        width: 100% !important;
    }

    .avatar_container {
        justify-content: center;
    }

    .h2_anima {
        font-size: 28px !important;
        line-height: 140% !important; /* 39.2px */
    }

    .container_animakid {
        padding: 30px 30px !important;
    }

    .button_b79, .button_follow {
        width: 100% !important;
    }

    .cstm_m {
        margin-right: 0px !important;
    }

    .h5_bio {
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 140% !important; /* 22.4px */
    
    }
    
    .anima_text_1 {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */ 
        text-transform: none !important;
    }

    .container_tabs {
        padding: 0 30px !important;
    }

    .tab_button_active, .tab_button {
        font-size: 16px !important;
    }

    .nft_cards_container {
        padding: 0 30px !important;
    }

    .row_p40 {
        padding-top: 30px !important;
    }

    .svg_metamask {
        width: 32px !important;
        height: 30px !important;
    }

    .wallet_choose_button {
        height: 60px !important;
        width: 100% !important;
    }

    .svg_walletconnect,
    .svg_coinbase {
        width: 32px !important;
        height: 32px !important;
    }

    .cstm_mt40, .cstm_40 {
        padding: 40px 30px !important;
    }

    .nft_h2 {
        font-size: 28px !important;
        line-height: 140% !important; /* 39.2px */
    }
    
    .nft_text {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
    }

    .cstm_pt30 {
        padding-top: 20px !important;
    }

    .nft_h5, .nft_h5_2 {
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 140% !important; /* 22.4px */
    }

    .nft_description_text {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
    }

    .mobile_df_n {
        display:grid !important;
    }

    .tag_button_2, .tag_button_3,
    .tag_button_4 {
        margin: 20px 0 0 0 !important;
    }

    .font_desktop {
        font-size: 16px !important;
    }

    .ht173 {
        height: 173px !important;
    }

    .svg_mr_10 {
        width: 24px !important;
        height: 24px !important;
    }

    .nft_h5_tags {
        color: #858584;

        /* Base (Body) - Space Mono */
        font-family: spacemono !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 140% !important; /* 22.4px */
    }

    .description_text_div {
        width: 100% !important;
    }

    .outer-container-browse {
        padding: 40px 0 !important;
    }

    .container_mrk {
        padding: 0 30px !important;
    }

    .mrk_h2 {
        font-size: 28px !important;
        line-height: 140% !important; /* 39.2px */
    }

    .mrk_p {
        font-size: 16px !important;
        line-height: 140% !important; /* 22.4px */
    }

    .outer-container-mrk-cards {
        padding: 40px 0 !important;
    }

    .mrk_cards_container {
        padding: 0 30px !important;
    }
 
}   

    @media screen and (min-width: 767px) {
  
        .d_db, .desktop_dn, .mobile_db {
            display: none !important;
        }

    }

header {
    padding: 12px 38px;
}

.svg_1 {
    margin-right: 12px;
}

.container {
    max-width: 1074px !important;
    
}


@media (min-width: 1200px) {

    .container {
        max-width: 1074px;
    }

}

.desktop_dn {
    display: none;
}

.mobile_db {
    display: none;
}

.nav_link {
    color: #FFF !important;
    font-family: worksans;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 140%; /* 22.4px */
    padding: 8px 15px !important;
}

.navbar_button, .button_2, 
.custom_button_2, .custom_button_3 {
    height: 60px;
    border-radius: 20px;
    color: #FFF;
    font-family: worksans;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 140%; /* 22.4px */
}

.navbar_button, .button_2 {
    background: var(--call-to-action, #A259FF);
    border: none;
}

.navbar_button {
    width: 152px;
    margin-left: 15px;
}

.svg_2, .svg_3, .svg_4, .svg_5, .mr_12 {
    margin-right: 12px !important;
}

.container_1 {
  padding: 80px 12px;
}

.mp_0 {
    padding-left: 48px;
    padding-right: 48px;
}

.h1_1 {
    color: var(--white, #FFF);

    /* H1 - Work Sans */
    font-family: worksans;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 73.7px */
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 500px;
}

.text_1, .text_4 {
    color: var(--white, #FFF);

    /* Body Text- Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
    width: 510px;
    margin-right: 0 !important;
}

.text_1 {
    margin-bottom: 30px;
}

.button_2 {
    width: 224px;
    margin-bottom: 30px;
}

.h4_1 {
    color: var(--white, #FFF);

    /* H4 - Space Mono */
    font-family: spacemono;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize; 
    margin-bottom: 0;  
}

.text_2 {
    color: var(--white, #FFF);
    font-family: worksans;
    font-size: 23.99px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.384px */
    text-transform: capitalize; 
    margin-bottom: 0;  
}

.h4_1, .text_2 {
    margin-right: 6px;
}

.custom_card {
    border: none !important;
    background: none !important;
}

.img_0 {
    height: 510px;
}

.card_body {
    border-radius: 0px 0px 20px 20px;
    background: var(--background-secondary, #3B3B3B) !important;
    height: 109px;
    padding: 20px !important;
}

.h5_1 {
    color: #FFF;

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    margin-bottom: 10px;    
}

.img_2 {
    margin-right: 12px;
    width: 24px !important;
    height: 24px !important;
    border-radius: 120px;
}

.text_3 {
    color: #FFF;

    /* Base(Body) - Work Sans */
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */    
}

.h3_1 {
    color: var(--white, #FFF);

    /* H3 - Work Sans */
    font-family: worksans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize; 
    margin-bottom: 10px;   
}

.text_4 {
    margin-bottom: 0;
}

.container_3 {
    margin-top: 60px;
}

img {
    background-size: cover;
}

.purple_div {
    height: 100px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
}

.text_5 {
    color: #FFF;

    /* H5 - Space Mono */
    font-family: spacemono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
    margin: 0;
}

.primary_img {
    height: 330px;
    background-size: cover;
}

.row_m15 {
    margin-top: 15px !important;
}

.purple_div {
    width: 100px;
    margin: 0 !important;
}

.icon_1 {
    margin-right: 12px;
}

.h5_2 {
    color: #FFF;

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    margin-bottom: 10px;
}

.text_6 {
    color: #FFF;

    /* Base(Body) - Work Sans */
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin: 0;
}

.custom_button_2, .custom_button_3 {
    width: 247px;
    border: 2px solid var(--call-to-action, #A259FF);
    background: none;
}

.custom_button_2 {
    width: 247px;
}

.custom_button_3 {
    width: 187px;
}

.row_m60 {
    margin-top: 60px !important;
}

.custom_card_2 {
    height: 238px;
    border-radius: 20px;
    background: #3B3B3B;
    padding: 20px;
    position: relative;
}

.custom_card_2:hover {
    cursor: pointer;
}

.card_number {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: var(--background, #2B2B2B);    
    position: absolute;
    top: 18px;
    left: 20px;
}

.text_number {
    color: var(--caption-label-text, #858584);
    text-align: center;

    /* Base (Body) - Space Mono */
    font-family: spacemono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin: 0 !important;
    
    height: 22px !important;
}

.row_m20 {
    margin-top: 20px !important;
}

.htext_1 {
    color: #FFF;
    text-align: center;
    
    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    margin: 0 !important;
    height: 31px;    
}

.row_m5 {
    margin-top: 5px !important;
}

.card_text_1, .card_text_2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin: 0;
}

.card_text_1 {
    color: var(--caption-label-text, #858584);
    text-align: right;

    /* Base(Body) - Work Sans */
    font-family: worksans;
    margin-right: 5px !important;
}

.card_text_2 {
    color: var(--text, #FFF);

    /* Base (Body) - Space Mono */
    font-family: spacemono; 
    margin-left: 5px;  
}

.row_m30 {
    margin-top: 30px !important;
}

.row_m30_custom {
    padding-top: 30px;
}

.row_m25_custom {
    padding-top: 25px;
}

.custom_card_mobile {
    height: 100px;
    border-radius: 20px;
    background: #3B3B3B;
    padding: 20px;
}

.row_m50 {
    padding-top: 50px;
}

.custom_blured_card {
    height: 316px;
    background: none !important;
    border: none !important;
}

.custom_height_desktop {
    height: 240px;
}

.card_body_custom {
    height: 76px;
    border-radius: 0 0 20px 20px ;
    background: #3B3B3B;    
    padding: 20px 30px 25px 30px;
}

.h5_3 {
    color: var(--white, #FFF);

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize; 
    margin-bottom: 0;   
}

.row_p30 {
    padding-top: 30px;
}

.card_img_top {
    height: 296px;
}

.custom_card_3 {
    background: none !important;
    border: none !important;
}

.card_body_custom_2 {
    height: 173px;
    padding: 20px 30px 25px 30px;
    border: none !important;
    border-radius: 0 0 20px 20px;
    background: #3B3B3B;
}

.h5_4 {
    color: var(--white, #FFF);

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;  
    margin-bottom: 0 !important;  
}

.card_text_3 {
    margin-bottom: 0;
    color: var(--white, #FFF);

    /* Base (Body) - Space Mono */
    font-family: spacemono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */   
}

.row_m25 {
    margin-top: 25px !important;
}

.card_text_4 {
    color: #858584;

    /* Caption - Space Mono */
    font-family: spacemono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */  
    margin-bottom: 0 !important;  
}

.card_text_5 {
    color: var(--white, #FFF);

    /* Base (Body) - Space Mono */
    font-family: spacemono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */   
    margin-bottom: 0 !important; 
}

.card_text_6, .card_text_7 {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.card_text_6 {
    color: #858584;

    /* Caption - Space Mono */
    font-family: spacemono;
    font-size: 12px;
    line-height: 110%; /* 13.2px */    
}

.card_text_7 {
    color: var(--white, #FFF);
    
    /* Base (Body) - Space Mono */
    font-family: spacemono;
    font-size: 16px;
    line-height: 140%; /* 22.4px */
    text-align: right;    
}

.row_p60 {
    padding-top: 60px;
}

.outer-container {
    background-image: url(assets/img/Magic_mashrooms_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    padding-bottom: 60px !important;
}

.custom_long_card {
    width: 151px;
    height: 44px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #3B3B3B;
}

.long_card_text {
    color: #FFF;

    /* Base(Body) - Work Sans */
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-bottom: 0 !important;
}

.htext_2 {
    color: #FFF;

    /* H2 - Work Sans */
    font-family: worksans;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;
    margin-bottom: 0 !important;    
}

.custom_button_4 {
    width: 198px;
    height: 60px;
    border-radius: 20px;
    background: var(--text, #FFF);
    color: var(--background, #2B2B2B);
    text-align: center;
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */ 
    border: none;
    outline: none;  
}

.auction_timer {
    width: 295px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
}

.auction_timer_text {
    color: var(--text, #FFF);

    /* Caption - Space Mono */
    font-family: spacemono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */ 
    margin-bottom: 0 !important;   
}

.row_m10 {
    margin-top: 10px !important;
}

.hours {
    width: 53px !important;
}

.number {
    color: var(--text, #FFF);

    /* H3 - Space Mono */
    font-family: spacemono;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize; 
    margin-bottom: 0 !important;  
    width: 53px !important; 
}

.time_text {
    color: var(--text, #FFF);

    /* Caption - Space Mono */
    font-family: spacemono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    margin-bottom: 0 !important;  
    width: 53px !important;   
}

.two_dots {
    color: var(--text, #FFF) !important;

    /* H4 - Space Mono */
    font-family: spacemono;
    font-size: 28px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;  
    margin-bottom: 0 !important;  
}

.custom_card_4 {
    border-radius: 20px !important;
    background: var(--background-secondary, #3B3B3B) !important;
    border: none !important;
    padding: 10px 30px 30px 30px;
    height: 439px !important;
}

.card_body_custom_4 {
    margin-top: 20px;
}

.card_icon_4 {
    width: 250px;
    height: 250px;
}

.card_p_4 {
    color: var(--white, #FFF);
    text-align: center;
    
    /* Base(Body) - Work Sans */
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */   
    margin-bottom: 0; 
}

.mobile_custom_card {
    height: 157px;
    padding: 20px;
    border-radius: 20px;
    background: var(--background-secondary, #3B3B3B);
}

.mobile_card_icon {
    width: 100px;
    height: 100px;
}

.mobile_card_text {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}

.mobile_card_text_2 {
    color: var(--white, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%; /* 16.8px */  
    margin-top: 10px;  
}

.mobile_card_text, .mobile_card_text_2 {
    font-family: worksans;
    font-style: normal;
    margin-bottom: 0;
}

.mt_20 {
    margin-top: 20px !important;
}

.container_4 {
    padding-top: 40px;
    padding-bottom: 80px;
}

.custom_container_4 {
    padding: 60px;
    border-radius: 20px;
    background: #3B3B3B;
}

.reading_news {
    height: 310px;
}

.h3_4, .ptext_4 {
    color: var(--white, #FFF);
    font-family: worksans;
    text-transform: capitalize; 
    margin-bottom: 0; 
    font-style: normal;
}

.h3_4 {
    /* H3 - Work Sans */
    font-size: 38px;
    font-weight: 600;
    line-height: 120%; /* 45.6px */  
}

.ptext_4 {
    /* Body Text- Work Sans */
    font-size: 22px;
    font-weight: 400;
    line-height: 160%; /* 35.2px */   
}

.row_p20 {
    padding-top: 20px;
}

.row_dm40 {
    margin-top: 40px !important;
}

input[type="email"] {
    border-radius: 20px;
    background: var(--text, #FFF); 
    height: 60px; 
    border: none;
    outline: none;
    padding-left: 20px;
}

input[type="email"]::placeholder {
    color: var(--background, #2B2B2B);

    /* Base(Body) - Work Sans */
    font-family: worksans !important; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.submit_button_1 {
    right: 0;
    top: 0;
    width: 211px;
    height: 60px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    border: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}

.svg_5 {
    top: 20px;
    right: 141px;
}

footer {
    background: var(--background-secondary, #3B3B3B);
    padding: 40px 0;
}

.container_footer {
    padding: 0 30px;
}

.svg_footer {
    margin-top: 6px;
}

.footer_text {
    color: #CCC;

    /* Base(Body) - Work Sans */
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */    
    margin-bottom: 0;
}

.svg_mr_10 {
    margin-right: 10px !important;
}

.footer_h5 {
    color: #FFF;

    /* H5 - Space Mono */
    font-family: spacemono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize; 
    margin-bottom: 0;   
}

.container_end {
    margin-top: 30px;
}

.end_hr {
    background: none;
    border: 1px solid rgba(133, 133, 132, 1);
    margin: 0;    
}

.end_text {
    color: #CCC;

    /* Caption - Work Sans */
    font-family: worksans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    margin-bottom: 0;    
}

.create_account_div, .collect_wallet_div {
    padding: 100px 0 100px 30px;
}

.ca_h2 {

    /* H2 - Work Sans */
    font-size: 51px;
    font-weight: 600;
    line-height: 110%; /* 56.1px */    
}

.ca_h2, .ca_text {
    margin-bottom: 0;
    color: var(--white, #FFF);
    font-family: worksans;
    font-style: normal;
    text-transform: capitalize;
}

.ca_text {

    /* Body Text- Work Sans */
    font-size: 22px;
    font-weight: 400;
    line-height: 160%; /* 35.2px */    
}

.create_account_form {
    margin-top: 40px;
    width: 330px;
}

.form_input {
    border-radius: 20px !important;
    border: 1px solid var(--caption-label-text, #858584) !important;
    background: var(--text, #FFF) !important;
    height: 46px !important;
    outline: none !important;
    padding-left: 52px !important;
}

.form_input::placeholder {
    color: var(--background, #2B2B2B) !important;

    /* Base(Body) - Work Sans */
    font-family: worksans !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important; /* 22.4px */
}

.ca_svg_1 {
    top: 16px;
    left: 20px;
}

.create_account_submit {
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    border: none;
    outline: none;
    height: 46px;
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */    
}

.cosmos_image {
    height: 691px;
}

.pe_cst {
    padding-right: 30px !important;
}

@media screen and (max-width: 767px) {

    .pe_cst {
        padding-right: 0px !important;
    }

}

.profile_background_img {
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile_background_img_mobile {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar_container {
    margin-top: -70px;
}

.container_animakid {
    padding: 40px 0;
}

.h2_anima {
    color: var(--white, #FFF);

    /* H2 - Work Sans */
    font-family: worksans;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize; 
    margin-bottom: 0;   
}

.button_b79 {
    background: var(--call-to-action, #A259FF);
    border: none;
    width: 186px;
}

.button_follow {
    border: 2px solid var(--call-to-action, #A259FF);
    background: none;
    width: 145px;
    margin-left: 20px;
}

.button_b79, .button_follow {
    border-radius: 20px;
    height: 60px;
    color: #FFF;
    font-family: worksans;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */    
    outline: none;
}

.svg_10 {
    margin-right: 10px;
}

.svg_button_1 {
    top: 20px;
    left: 20px;
}

.svg_button_2 {
    top: 20px;
    left: 30px;
}

.cstm_m {
    margin-right: 20px;
}

.h5_bio {
    color: #858584;

    /* H5 - Space Mono */
    font-family: spacemono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
    margin-bottom: 0;    
}

.anima_text_1 {
    color: var(--white, #FFF);

    /* Body Text- Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;  
    margin-bottom: 0;  
}

.cstm_mr_10 {
    margin-right: 10px;
}

.hr_cstm {
    background: #3B3B3B !important;
    height: 0;
    border: 1px solid rgba(59, 59, 59, 1);
}

.tab_button_active, .tab_button {
    border: none;
    outline: none;
    background: none;
    height: 60px;
    text-align: center;
    
    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;    
}

.tab_button_active {
    border-bottom: 2px solid var(--caption-label-text, #858584);
    color: var(--white, #FFF);
}

.tab_button {
    color: var(--caption-label-text, #858584);   
}

.custom_badge_active {
    background: #858584;    
}

.custom_badge_active, .custom_badge {
    color: #FFF !important;
    margin-left: 16px;
    border-radius: 20px !important;  
    /* Base (Body) - Space Mono */
    font-family: spacemono !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important; /* 22.4px */    
}

.custom_badge {
    background: var(--background-secondary, #3B3B3B) !important;
}

.outer-container-nft-cards {
    background: var(--background-secondary, #3B3B3B);
    padding: 80px 0;
}

.background_change {
    background: var(--background, #2B2B2B) !important;
}

.artist_page_footer {
    border-top: 2px solid var(--background, #2B2B2B);
}

.collectw_image {
    height: 642px;
}

.collectw_image_mobile {
    height: 232px;
}

.row_p40 {
    padding-top: 40px;
}

.wallet_choose_button {
    width: 320px;
    height: 72px;
    border-radius: 20px;
    border: 1px solid var(--call-to-action, #A259FF);
    background: var(--background-secondary, #3B3B3B);    
    color: var(--white, #FFF);

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    text-align: start; 
    padding-left: 40px;   
}

.svg_metamask, .svg_walletconnect,
.svg_coinbase {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.nft_background_img {
    height: 560px;
}

.nft_background_img_mobile {
    height: 320px;
}

.cstm_40 {
    padding: 40px 0;
}

.placebid_button {
    height: 60px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    border: none;
    outline: none;    
    color: #FFF;
    text-align: center;
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */    
}

.nft_h2 {
    color: var(--white, #FFF);

    /* H2 - Work Sans */
    font-family: worksans;
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;
    margin-bottom: 0;    
}

.nft_text {
    color: var(--caption-label-text, #858584);

    /* Body Text- Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
    margin-bottom: 0;    
}

.cstm_pt30 {
    padding-top: 30px;
}

.nft_h5 {
    color: #858584;

    /* H5 - Space Mono */
    font-family: spacemono;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize; 
    margin-bottom: 0;   
}

.nft_avatar {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.nft_h5_2 {
    color: #FFF;

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize; 
    margin-bottom: 0;   
}

.nft_description_text {
    color: var(--white, #FFF);
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */    
    margin-bottom: 0;
}

.description_text_div {
    width: 605px;
}

.auction_timer_h {
    height: 237px;
}

.link_div:hover {
    cursor: pointer;
}

.nft_h5_tags {
    color: #858584;

    /* H5 - Work Sans */
    font-family: worksans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
    margin-bottom: 0;    
}

.mobile_df_n {
    display: flex;
}

.tag_button_1, .tag_button_2, 
.tag_button_3, .tag_button_4 {
    border: none;
    border-radius: 20px;
    background: var(--background-secondary, #3B3B3B);
    height: 46px;
    color: #FFF;
    text-align: center;
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    text-transform: uppercase;    
}

.tag_button_1, .tag_button_2,
.tag_button_3 {
    margin-right: 20px;
}

.tag_button_1 {
    width: 150px;
}

.tag_button_2 {
    width: 175px;
}

.tag_button_3, .tag_button_4 {
    width: 110px;
}

.nft_custom_button {
    width: 267px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid var(--call-to-action, #A259FF);
    background: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */    
}

.card_img_top_2 {
    height: 295px;
}

.font_desktop {
    font-size: 16px !important;
}

.ht173 {
    height: 173px !important;
}

.outer-container-browse {
    padding: 80px 0;
}

.mrk_h2 {
    /* H2 - Work Sans */
    font-size: 51px;
    font-weight: 600;
    line-height: 110%; /* 56.1px */
    text-transform: capitalize;    
}

.mrk_p {
    font-size: 22px;
    font-weight: 400;
    line-height: 160%; /* 35.2px */    
}

.mrk_h2, .mrk_p {
    color: var(--white, #FFF);
    font-family: worksans;
    margin-bottom: 0;
    font-style: normal;
}

.marketplace_search_input {
    height: 60px;
    border-radius: 20px;
    border: 1px solid var(--background-secondary, #3B3B3B);    
    background: none;
    outline: none;
    padding: 0 20px;
}

.marketplace_search_input::placeholder {
    color: var(--caption-label-text, #858584);

    /* Base(Body) - Work Sans */
    font-family: worksans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.search_icon_mrk {
    top: 18px;
    right: 32px;
}

.outer-container-mrk-cards {
    padding: 60px 0 80px;
    background: var(--background-secondary, #3B3B3B);
}

